repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format
  - repo: local
    hooks:
      - id: pytest-coverage
        name: pytest with coverage (>99%)
        entry: uv run coverage run -m pytest --tb=short -q
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: coverage-check
        name: coverage check (>99%)
        entry: uv run coverage report --fail-under=99 --omit="tests/*"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--write-changes]
        additional_dependencies:
          - tomli
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [ '--baseline', '.secrets.baseline' ]